* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background-color: #f9bf3c;
  color: #333;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
}
.box {
  width: 100%;
  border-radius: 20px;
  background-color: #fef9e4;
  margin-top: 10px;
}
#main-image {
  display: flex;
  height: 80%;
  justify-content: center;
}
.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 53%;
  background-color: #fef9e4;
}
.box-2 {
  height: 75%;
}
h1 {
  font-size: 40px;
  color: #7b60ed;
  letter-spacing: 0.5em;
}

img {
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fef9e4;
  border-radius: 20px;
}
.square {
  padding-top: 5px;
  font-weight: 800;
  color: #0765a7;
  cursor: pointer;
}
.square:hover {
  background-color: #f4a150;
  border-radius: 30px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9dc4e9;
  opacity: 0.5;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 10px;
  width: 24rem;
  border-radius: 0.5rem;
  font-size: 40px;
  color: #3aa075;
  font-weight: bold;
  text-align: center;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 1s;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 30px 10px;
  width: 24rem;
  border-radius: 0.5rem;
  font-size: 40px;
  background-color: #7b60ed;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

p {
  color: #7b60ed;
  position: absolute;
  top: 60%;
  left: 12%;
  text-align: center;
  font-weight: bold;
  width: 24rem;
  margin: 20px auto;
  
}

/* //MEDIA QUERIES */

@media screen and (min-width: 561px) {

.box {
  width: 80%;
  margin: 10px auto;
}
p {
  position: absolute;
  top: 60%;
  left: 20%;
  right: 20%;
  width: 24rem;
  margin: 20px auto;
  
}
}
@media screen and (min-width: 991px) {
  
  .container {
    flex-direction: row;
    margin: 40px auto;
    width: 70%;
  
  }
  .box {
    width: 80%;
  }
  p {
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 20%;
    right: 20%;
    width: 24rem;
    margin: 20px auto;
    
  
  }
}
