* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  background-color: #8addff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
}
.box {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
  
}
#main-image {
  border: 2px solid red;
  display: flex;
  height: 80%;
  justify-content: center;
}
.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 53%;
}
.box-2 {
  height: 75%;
  background-color: white;
  
}
h1 {
  font-size: 40px;
}

img {
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
.square {
  padding-top: 10px;
}
.square:hover {
  background-color: lightgrey;
}


/*MEDIA QUERIES/*

body {
  font-size: 40px;
  
}
.container {
  flex-direction: row;
  margin: 40px auto;
  width: 70%;
}
.box {
  width: 50%;