* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userProvider {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}